[Unit]
Description=Gunicorn instance to serve my django-project
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/django-project
ExecStart= /usr/local/bin/gunicorn --bind 0.0.0.0:8000 pollme.wsgi:application

[Install]
WantedBy=multi-user.target